{% include 'partials/head.njk' %}
{% include 'partials/header.njk' %}
{% include 'partials/navigation.njk' %}

<main class="py-0 site-content">
  {% block body %}
    {{ content | safe }}
  {% endblock %}
</main>

{% include 'partials/footer.njk' %}
{% include 'partials/foot.njk' %}