<!DOCTYPE html>
<html
  lang="en"
  class="antialiased scroll-smooth font-barlow"
>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if page.url == '/' %}
      <title>{{ site.title }} - {{ site.description }}</title>
    {% else %}
      <title>
        {%- block siteTitle %}Default Title{%- endblock %} - {{ site.title }}
      </title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <link rel="preload" href="/assets/main.bundle.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap" rel="stylesheet"/>
      <link rel="stylesheet" href="/assets/main.bundle.css"/>
    </noscript>
    <script src="/assets/main.bundle.js" defer></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    {% if page.url == '/' %}
      <meta name="description" content="{{ site.description }}"/>
    {% else %}
      <meta name="description" content="{%- block metaDescription %}Default Meta Description{%- endblock %}"/>
    {% endif %}
  </head>
  <body class="bg-white" x-data="{ scrolled: false, navOpen: false }">
    {% include 'partials/header-page.njk' %}
    <main class="container md:pl-28 content">
      <article class="relative px-10 py-10 text-gray-900 page type-page entry xl:py-24 xl:px-24">
        <header class="flex items-center mb-4 flex-nowrap place-content-between md:mb-8 lg:mb-16 entry-header font-barlow-condensed">
          <h1 class="text-3xl font-bold uppercase md:text-5xl entry-title text-rose-900">
            {%- block pageTitle %}Default Title{%- endblock %}
            <span class="block w-10 h-1 rounded bg-rose-900"></span>
          </h1>
          {% block pageMenu %}
            {{ pageMenu | safe }}
          {% endblock %}
        </header>
        <div class="text-2xl text-gray-700 md:text-4xl entry-content">
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </article>
    </main>
  </body>
</html>