@import '../../node_modules/glightbox/dist/css/glightbox.css';
@import '../../node_modules/swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities Go Here. */
[x-cloak] {
  @apply hidden;
}

input:checked ~ .block {
  @apply bg-rose-900;
}

input:checked ~ .dot {
  @apply translate-x-full bg-gray-100;
}

.featured-portfolio {
  .swiper-slide {
    @apply z-10 transform opacity-75 grayscale transition-transform duration-300;

    &.swiper-slide-prev {
      @apply translate-x-[80%] scale-75;
    }
    &.swiper-slide-next {
      @apply -translate-x-[80%] scale-75;
    }
    &.swiper-slide-active {
      @apply z-20 opacity-100 grayscale-0;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-rose-900 opacity-0 transition-all duration-300;
  &:hover {
    @apply opacity-100;
  }
}

.cta-button {
  @apply block rounded-xl rounded-tl-none rounded-br-none border-2 border-rose-900 px-12 py-4 text-xl uppercase leading-none shadow-md shadow-gray-900 transition-all 2xl:text-2xl;
}

img:not([src]):not([srcset]) {
  @apply invisible;
}

.navigation {
  .active {
    @apply bg-white;
    svg {
      @apply -translate-y-1;
    }
    .item-label {
      @apply translate-x-0;
    }
  }
}

@layer utilities {
  .masonry {
    column-gap: 1.5em;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1.5em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}
