@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll.css';
@import '../../node_modules/swiper/swiper-bundle.min.css';

@import 'tailwindcss/base';
@import './base.pcss';

@import 'tailwindcss/components';
@import './components.pcss';

@import 'tailwindcss/utilities';
@import './utilities.pcss';
