{% set title = 'About Us' %}
{% extends "pages.njk" %}

{% block body %}
  <section id="about-section" class="px-10 py-10 text-gray-900 lg:px-24 lg:py-24 portfolio">
    <div class="wrap">
      <div class="mb-16 title-wrapper font-barlow-condensed">
        <h1 class="text-5xl font-normal uppercase section-title text-rose-900">{{ title }}</h1>
        <span class="block w-10 h-1 rounded bg-rose-900"></span>
      </div>
      <div class="text-4xl font-light text-gray-700 content">
        <p>We are a team of developers in the Philippines. We have over 10 years of experience and we know a thing or two about developing websites and application software.</p>
      </div>
    </div>
  </section>
{% endblock %}