{% extends "layouts/homepage.njk" %}

{% block content %}
  <section class="about-section">
    <div class="container grid items-center grid-cols-none px-4 text-xl sm:px-6 lg:px-8 lg:grid-cols-10 gap-x-20 md:gap-y-20 lg:gap-y-0 2xl:text-3xl">
      <div class="order-2 text-white lg:col-span-4 cta lg:order-1">
        <h1 class="mb-4 text-2xl font-black leading-none uppercase font-barlow-condensed lg:text-4xl lg:mb-8 2xl:mb-14">Developing Solutions, Delivering Results.</h1>
        <div class="mb-4 text-gray-300 content lg:mb-8 2xl:mb-16">
          <p>We are a web development company located in Northern Philippines that helps SMEs grow by building clean and responsive websites, defining a strong brand identity and thoughtful brand strategies.</p>
        </div>
        {% include "partials/cta-button.njk" %}
      </div>
      <div class="order-1 mb-16 overflow-hidden lg:col-span-6 md:mb-0 lg:order-2">
        {% include "partials/slider.njk" %}
      </div>
    </div>
  </section>
{% endblock %}