---
pagination:
  data: pages
  size: 1
  alias: article
permalink: /{{ article.slug }}/
---

{% extends "layouts/default.njk" %}

{%- block siteTitle %}{{ article.title }}
{%- endblock %}

{%- block metaDescription %}{{ article.metaDesc }}
{%- endblock %}

{%- block pageTitle %}{{ article.title }}
{%- endblock %}

{% block pageMenu %}
  {% if page.url === '/about-us/' %}
    <nav>
      <ul>
        {% for item in about %}
          <li class="inline-block">
            <a class="block px-2 py-2 uppercase transition-colors hover:text-rose-900 hover:underline underline-offset-2 hover:decoration-rose-900" href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block content %}
  {% if article.slug === 'testimonials' %}
    {% if testimonials %}
      <div id="testimonials" class="testimonials">
        {% for testimonial in testimonials %}
          <div class="testimonial">
            <blockquote class="block p-8 mb-6 text-xl text-gray-700 rounded-tl-none rounded-br-none bg-gray-50 grow rounded-2xl drop-shadow-xl shadow-gray-700">
              {{ testimonial.content | safe }}
            </blockquote>
            <div class="flex flex-row-reverse items-center content-end text-right">
              <img width="150" height="150" class="w-10 h-10 ml-4 rounded-full lazy" data-src="{% imageUrl testimonial.featuredImage.node.sourceUrl %}" alt="{{ testimonial.title }}"/>
              <div class="text-sm">
                <h3 class="font-bold text-gray-700 dark:text-gray-100">{{ testimonial.title }}</h3>
                <p class="text-xs text-gray-400 dark:text-gray-200">{{ testimonial.testimonialInformation.company }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  {% if article.slug === 'portfolio' %}
    <section class="portfolio-items">
      {% if portfolio.portfolioItems %}
        <div class="grid grid-cols-none gap-10 portfolio-items collections sm:grid-cols-2 lg:grid-cols-3">
          {% for item in portfolio.portfolioItems %}
            <figure class="text-lg mix portfolio w-100 group drop-shadow-xl shadow-gray-400">
              <a data-glightbox="type: image" href="{% imageUrl item.featuredImage.node.featuredImage %}" class="relative block overflow-hidden rounded-tl-none rounded-br-none glightbox rounded-2xl">
                <img width="445" height="330" data-src="{% imageUrl item.featuredImage.node.thumbnail %}" alt="{{ item.title }}" class="portfolio-image lazy mb-0 h-[250px] w-full object-cover transition-transform group-hover:-rotate-3 group-hover:scale-125"/>
                <figcaption class="absolute bottom-0 left-0 w-full px-5 py-4 transition-transform translate-y-full portfolio-info bg-rose-900 group-hover:translate-y-0">
                  <h3 class="mb-0 text-white">{{ item.title }}</h3>
                </figcaption>
              </a>
            </figure>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  {% endif %}

  {% if article.slug === 'about-us' %}
    <section class="mb-4 md:mb-8 lg:mb-16 about-introduction">
      <div class="introduction">
        <p>We are a team of developers in the Philippines. We have over 10 years of experience and we know a thing or two about developing websites and application software.</p>
      </div>
    </section>
    {% if members %}
      <section id="our-team" class="mb-4 team-members md:mb-8 lg:mb-16">
        <div class="grid grid-cols-none gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5">
          {% for member in members %}
            <figure class="team-member group w-100 team-member-{{ member.teamMemberId }} text-xl">
              <a href="#member-{{ member.teamMemberId }}" class="relative block mb-4 overflow-hidden rounded-tl-none rounded-br-none drop-shadow-xl shadow-gray-700 glightbox rounded-2xl">
                <img width="245" height="245" data-src="{% imageUrl member.featuredImage.node.sourceUrl %}" alt="{{ member.title }}" class="portfolio-image lazy mb-0 h-[250px] lg:h-48 w-full object-cover transition-transform group-hover:scale-125"/>
              </a>
              <figcaption class="member-information">
                <h3 class="mb-0 text-sm uppercase text-rose-900 font-barlow-condensed md:text-lg">{{ member.title }}</h3>
              </figcaption>
              <section id="member-{{ member.teamMemberId }}" class="hidden">
                <div class="grid grid-cols-none gap-4 md:grid-cols-4">
                  <div class="member-image md:col-span-1">
                    <div class="mb-4 wrap">
                      <img width="245" height="245" data-src="{% imageUrl member.featuredImage.node.sourceUrl %}" alt="{{ member.title }}" class="portfolio-image lazy mb-0 h-[250px] lg:h-48 w-full object-cover"/>
                    </div>
                    <h3 class="member-name">{{ member.title }}</h3>
                    <p class="text-sm subtitle">{{ member.memberInformation.position }}</p>
                  </div>
                  <div class="member-information md:col-span-3">{{ member.content | safe }}</div>
                </div>
              </section>
            </figure>
          {% endfor %}
        </div>
      </section>
    {% endif %}
    {% if testimonials %}
      <div id="testimonials" class="testimonials">
        {% for testimonial in testimonials %}
          <div class="testimonial">
            <blockquote class="block p-8 mb-6 text-xl text-gray-700 rounded-tl-none rounded-br-none bg-gray-50 grow rounded-2xl drop-shadow-xl shadow-gray-700">
              {{ testimonial.content | safe }}
            </blockquote>
            <div class="flex flex-row-reverse items-center content-end text-right">
              <img width="150" height="150" class="w-10 h-10 ml-4 rounded-full lazy" data-src="{% imageUrl testimonial.featuredImage.node.sourceUrl %}" alt="{{ testimonial.title }}"/>
              <div class="text-sm">
                <h3 class="font-bold text-gray-700 dark:text-gray-100">{{ testimonial.title }}</h3>
                <p class="text-xs text-gray-400 dark:text-gray-200">{{ testimonial.testimonialInformation.company }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}