---
pagination:
  data: pages
  size: 1
  alias: article
permalink: /{{ article.slug }}/
---

{% extends "layouts/default.njk" %}

{%- block siteTitle %}{{ article.title }}
{%- endblock %}

{%- block metaDescription %}{{ article.metaDesc }}
{%- endblock %}

{%- block pageTitle %}{{ article.title }}
{%- endblock %}

{% block pageMenu %}
  {% if page.url === '/about-us/' %}
    <nav>
      <ul>
        {% for item in about %}
          <li class="inline-block">
            <a class="block px-2 py-2 uppercase transition-colors hover:text-rose-900 hover:underline underline-offset-2 hover:decoration-rose-900" href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="{{ article.slug }}">
    {% if page.url === '/testimonials/' %}
      {% include 'partials/testimonials.njk' %}
    {% endif %}
    {% if page.url === '/portfolio/' %}
      {% include 'partials/portfolio.njk' %}
    {% endif %}
    {% if page.url === '/about-us/' %}
      {% include 'partials/about.njk' %}
    {% endif %}
    {% if page.url === '/contact/' %}
      {% include 'partials/contact.njk' %}
    {% endif %}
  </section>
{% endblock %}