<div class="">
  <form method="POST" action="/api/submit" enctype="multipart/form-data">
    <div class="grid grid-cols-none gap-4 mb-4 sm:grid-cols-2 sm:gap-8 sm:mb-8">
      <div class="input">
        <label for="name">Full Name</label>
        <input class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-input rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="name" name="name" type="text" pattern="^(\w\w+)\s(\w+)$" required/>
      </div>

      <div class="input">
        <label for="email">Email Address</label>
        <input class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-input rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="email" name="email" type="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required/>
      </div>

      <div class="input">
        <label for="website">Website</label>
        <input class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-input rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="website" name="website" type="url" required pattern="https?://.+"/>
      </div>
      <div class="input">
        <label for="services">Service you're interested in?</label>
        <select class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-select rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="services" name="services" required>
          <option hidden disabled selected value></option>
          <option value="Application Development">Application Development</option>
          <option value="Web Development">Web Development</option>
          <option value="Mobile Development">Mobile Development</option>
        </select>
      </div>
    </div>

    <div class="mb-4 sm:mb-8 message">
      <label for="message">Tell us more about your project:</label>
      <textarea class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-textarea rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" name="message" id="message" cols="30" rows="5" required></textarea>
    </div>

    <div class="mb-8 cf-turnstile" data-sitekey="{{ site.turnstile_site_key }}"></div>

    <button class="px-8 py-3 mb-5 text-xl text-center text-gray-100 uppercase transition-all bg-gray-700 border-2 border-gray-700 rounded-br-none md:mb-0 rounded-xl dark:border-rose-900 dark:bg-rose-900 hover:bg-transparent hover:text-gray-700 dark:hover:text-gray-100 dark:hover:bg-transparent lg:text-2xl" type="submit">Submit</button>
  </form>
</div>