<div class="button-container space-y-4 sm:space-y-0 sm:flex sm:space-x-8 text-gray-100 text-center leading-none">
  <a
    href="#about-section"
    class="cta-button bg-rose-900  hover:bg-transparent hover:text-rose-900"
    target="" data-scroll-to
  >
    Know More
  </a>

  <a
    href="#portfolio-section"
    class="cta-button bg-transparent bg-rose-900 text-rose-900 hover:bg-rose-900 hover:text-gray-100"
    target="" data-scroll-to
  >
    Our Works
  </a>
</div>