<div class="space-y-4 leading-none text-center text-gray-100 button-container sm:space-y-0 sm:flex sm:space-x-8">
  <a
    href="/about-us/"
    class="cta-button bg-rose-900 hover:bg-transparent hover:text-rose-900"
    target=""
  >
    Know More
  </a>

  <a
    href="/portfolio/"
    class="bg-transparent cta-button bg-rose-900 text-rose-900 hover:bg-rose-900 hover:text-gray-100"
    target=""
  >
    Our Works
  </a>
</div>