<div class="button-container sm:flex sm:space-x-8 text-gray-100 text-center leading-none">
  <a
    href="/about-us/"
    class="cta-button bg-rose-900  hover:bg-transparent hover:text-rose-900"
    target=""
  >
    Know More
  </a>

  <a
    href="/portfolio/"
    class="cta-button bg-transparent bg-rose-900 text-rose-900 hover:bg-rose-900 hover:text-gray-100"
    target=""
  >
    Our Works
  </a>
</div>