<footer class="fixed bottom-0 w-full pb-4 lg:pb-16 z-[1]">
  <div class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div class="relative" x-data="{ openContact: false }" @click.away="openContact = false">
      <button class="absolute bottom-0 right-0 p-5 rounded-tl-none shadow-md rounded-xl shadow-gray-900 bg-rose-900 hover:bg-rose-700 focus:bg-rose-700 active:bg-rose-700">
        <div class="relative flex h-[14px] w-[14px] items-center justify-center">
          <svg class="fill-gray-100" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
            <path class="shadow-sm fill-gray-100 shadow-black" d="M0 0v13.156l3-3h11V0Z" fill="none" fill-rule="evenodd"/>
          </svg>
        </div>
      </button>
    </div>
  </div>
</footer>
<!-- End Footer -->