<header
  class="md:fixed w-full flex-none pt-4 text-sm font-medium leading-6 text-gray-100 transition-all lg:pt-8 xl:pt-16 z-20"
  @click.away="navOpen = false"
>
  <nav class="nav container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-nowrap items-center">
      <a 
        href="/" class="flex-none logo transition-all"
        :class="{'hidden': navOpen}"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="110" height="50">
          <path class="fill-gray-100" d="M41.068 1.635A12.2 12.2 0 0 0 31.81.416 12.2 12.2 0 0 0 24.4 6.1L0 48.365a12.2 12.2 0 0 0 9.258 1.219 12.2 12.2 0 0 0 7.408-5.684Zm20.246 0A12.2 12.2 0 0 0 52.056.416 12.2 12.2 0 0 0 44.648 6.1L20.246 48.365a12.2 12.2 0 0 0 9.254 1.219 12.2 12.2 0 0 0 7.412-5.684ZM75.516 0a12.188 12.188 0 0 1 3.214.415A12.2 12.2 0 0 1 86.138 6.1l24.4 42.265a12.2 12.2 0 0 1-9.257 1.219 12.2 12.2 0 0 1-7.407-5.684L75.516 12.1 57.158 43.9a12.2 12.2 0 0 1-7.408 5.684 12.2 12.2 0 0 1-9.258-1.219L64.894 6.1A12.2 12.2 0 0 1 72.3.416 12.188 12.188 0 0 1 75.516 0Z" fill="none" fill-rule="evenodd"/>
        </svg>
        <span class="text-gray-100 font-barlow-condensed font-black uppercase block text-center text-2xl leading-none">{{ site.title }}</span>
      </a>
      <div class="flex grow origin-bottom transform justify-end transition-all duration-300 sm:mt-0 sm:ml-auto sm:w-auto lg:origin-right">
        <button
          x-on:click="navOpen = ! navOpen"
          class="group ml-4 flex items-center space-x-4 uppercase focus:outline-none relative z-50"
        >
          <div class="relative flex h-10 w-10 items-center justify-center z-20">
            <span
              x-bind:class="navOpen ? 'translate-y-0 rotate-45' : '-translate-y-3'"
              class="absolute h-1 w-full transform rounded bg-current transition group-hover:bg-rose-900"
            ></span>
            <span
              x-bind:class="navOpen ? 'opacity-0 translate-x-3 w-10' : 'opacity-100'"
              class="absolute right-0 h-1 w-4/5 transform rounded bg-current transition group-hover:bg-rose-900"
            ></span>
            <span
              x-bind:class="navOpen ? 'translate-y-0 -rotate-45 w-10' : 'translate-y-3 w-3/5'"
              class="absolute right-0 h-1 transform rounded bg-current transition group-hover:bg-rose-900"
            ></span>
          </div>
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- End Header -->