<header class="fixed flex flex-col items-center justify-center h-screen site-header bg-dark row-span-full w-96 items-between">
  <div class="px-20 py-20 site-title">
    <a 
      class="text-center"
        href="/" class="flex-none transition-all logo"
      >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 50" preserveAspectRatio="xMinYMin meet" class="w-20 lg:w-44">
        <path fill="none" d="M41.068 1.635A12.2 12.2 0 0 0 31.81.416 12.2 12.2 0 0 0 24.4 6.1L0 48.365a12.2 12.2 0 0 0 9.258 1.219 12.2 12.2 0 0 0 7.408-5.684Zm20.246 0A12.2 12.2 0 0 0 52.056.416 12.2 12.2 0 0 0 44.648 6.1L20.246 48.365a12.2 12.2 0 0 0 9.254 1.219 12.2 12.2 0 0 0 7.412-5.684ZM75.516 0a12.188 12.188 0 0 1 3.214.415A12.2 12.2 0 0 1 86.138 6.1l24.4 42.265a12.2 12.2 0 0 1-9.257 1.219 12.2 12.2 0 0 1-7.407-5.684L75.516 12.1 57.158 43.9a12.2 12.2 0 0 1-7.408 5.684 12.2 12.2 0 0 1-9.258-1.219L64.894 6.1A12.2 12.2 0 0 1 72.3.416 12.188 12.188 0 0 1 75.516 0Z" class="fill-gray-100"/>
      </svg>
      <span class="hidden text-xl font-black leading-none text-center text-gray-100 uppercase font-barlow-condensed lg:block lg:text-4xl">{{ site.title }}</span></a>
  </div>
  <nav class="w-full text-center header-navigation grow">
    {% if navigation %}
      <ul class="list-none navigation">
        {% for item in navigation %}
          <li class="block navigation-item">
            <a href="{{ item.path }}" class="block px-5 py-5 text-4xl font-light uppercase transition-all font-barlow-condensed navigation-link hover:bg-rose-900 hover:text-right">{{ item.label }}</a>
          {% endfor %}
      </ul>
    {% endif %}
  </nav>
</header>
<!-- End Header -->