<section class="page-header flex w-full items-center justify-center h-auto py-24 bg-fixed lazy bg-dark">
  <div class="container px-4 py-20 flex align-center justify-center flex-col text-center">
    <h1 class="font-thin text-8xl">
      {{ title }}
    </h1>
    <p class="subheading uppercase">
      {{ site.title }}
    </p>
  </div>
</section>