<section class="page-header flex w-full items-center justify-center h-auto py-24 bg-fixed lazy bg-dark">
  <div class="container px-4 py-20 flex align-center justify-center flex-col text-center">
    <h1 class="font-barlow-condensed font-thin uppercase text-4xl lg:text-8xl">
      {{ title }}
    </h1>
  </div>
</section>