<section class="portfolio py-28 px-28 text-gray-900">
  <div class="container">
    <div class="title-wrapper font-barlow-condensed">
      <h1 class="section-title uppercase font-light text-rose-900 text-4xl">{{ title }}</h1>
      <span class="bg-rose-900 rounded h-1 w-10 block"></span>
    </div>
    <div class="portfolio">
      
    </div>
  </div>
</section>