{% if portfolio.portfolioItems %}
  <div class="grid grid-cols-none gap-10 portfolio-items collections sm:grid-cols-2 lg:grid-cols-3">
    {% asyncAll item in portfolio.portfolioItems %}
    <figure class="text-lg mix portfolio w-100 group drop-shadow-xl shadow-gray-400">
      <a data-glightbox="type: image" href="{{ item.featuredImage.node.featuredImage }}" class="relative block overflow-hidden rounded-tl-none rounded-br-none glightbox rounded-2xl">
        <img width="445" height="330" data-src="{{ item.featuredImage.node.thumbnail }}" alt="{{ item.title }}" class="portfolio-image lazy mb-0 h-[250px] w-full object-cover transition-transform group-hover:-rotate-3 group-hover:scale-125"/>
        <figcaption class="absolute bottom-0 left-0 w-full px-5 py-4 transition-transform translate-y-full portfolio-info bg-rose-900 group-hover:translate-y-0">
          <h3 class="mb-0 text-white">{{ item.title }}</h3>
        </figcaption>
      </a>
    </figure>
    {% endall %}
  </div>
{% endif %}