<section id="portfolio-section" class="portfolio py-20 text-gray-900" data-scroll-section>
  <div class="container grid grid-cols-none md:grid-cols-3" data-scroll>
    <div class="portfolio-navigation">
      {% if services %}
        <h2 class="portfolio-filter-heading">Filter by:</h2>
        <nav class="navigation">
          {% for service in services %}
            <a class="block " href="#{{ service.slug }}" class="portfolio-navigation__item {{ service.slug }}">{{ service.title }}</a>
          {% endfor %}
        </nav>
      {% endif %}
    </div>
  </div>
</section>